body {
  font-family: "Helvetica Neue LT Std", sans-serif;
}
.h1, h1 {
font-size: 4rem;
line-height: 3.5rem;
}
.h2, h2 {
font-size: 2.5rem;
line-height: 2.5rem;
}
.h3, h3 {
font-size: 1.75rem;
line-height: 1.4rem;
}
/* PLACE YOU CUSTOM STYLES IN THIS FILE */
.nk-header-title .nk-header-table-cell {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
width: 100%;
padding: 10px 0 30px 0;
}
.nk-form-style-1 .form-control {
color: #1c1c1c;
background-color: rgba(204, 204, 204, 1.0);
}
.nk-header-title {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    color: #fff;
    text-align: left;
    background-color: #1c1c1c;
    z-index: 0;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Lt.eot");
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Lt.woff") format("woff"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BdIt.eot");
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BdIt.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BdIt.woff2") format("woff2"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BdIt.woff") format("woff"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BdIt.ttf") format("truetype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BdIt.svg#HelveticaNeueLTStd-BdIt") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-LtIt.eot");
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-LtIt.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-LtIt.woff2") format("woff2"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-LtIt.woff") format("woff"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-LtIt.ttf") format("truetype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-LtIt.svg#HelveticaNeueLTStd-LtIt") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Bd.eot");
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Bd.woff") format("woff"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-ThIt.eot");
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-ThIt.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-ThIt.woff2") format("woff2"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-ThIt.woff") format("woff"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-ThIt.ttf") format("truetype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-ThIt.svg#HelveticaNeueLTStd-ThIt") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Th.eot");
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Th.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Th.woff2") format("woff2"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Th.woff") format("woff"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Th.ttf") format("truetype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BlkIt.eot");
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BlkIt.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BlkIt.woff2") format("woff2"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BlkIt.woff") format("woff"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BlkIt.ttf") format("truetype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-BlkIt.svg#HelveticaNeueLTStd-BlkIt") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Blk.eot");
  src: url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Blk.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Blk.woff2") format("woff2"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Blk.woff") format("woff"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Blk.ttf") format("truetype"), url("fonts/helveticaneueltstd/HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk") format("svg");
  font-weight: 900;
  font-style: normal; }

.footer-ssn-text {
  font-family: "Helvetica Neue LT Std", sans-serif;
  font-size: 11px;
  color: #000; }
  .footer-ssn-text p {
    font-family: "Helvetica Neue LT Std", sans-serif;
    font-size: 11px;
    margin-bottom: 10px; }
